/*
use this to insert a custom logo into the dashboard
.login h1 a {
	background: url(../images/logo.png) no-repeat center center;
	width: 250px;
	margin: 0 auto;
	height: 31px;
	background-size: 250px 31px;
}
*/